{% load staticfiles %}
<!DOCTYPE <!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ConnectedIn</title>
        <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'styles/signin.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>